#btnExport 
{
	-fx-background-image: url("assets/export.png");
    -fx-background-size : stretch;

}

#entityButton
{
	-fx-background-image: url("assets/rectangle.png");
    -fx-background-size : stretch;
}

#relationButton
{
	-fx-background-image: url("assets/rhombus.png");
    -fx-background-size : stretch;
}
#eraseButton
{
	-fx-background-image: url("assets/wiping-swipe-for-floors.png");
    -fx-background-size : stretch;
}
#redoButton
{
        -fx-background-image: url("assets/redo.png");
    -fx-background-size: stretch;
}

#undoButton
{
        -fx-background-image: url("assets/undo.png");
    -fx-background-size: stretch;
}
#attributeBtn
{
        -fx-background-image: url("assets/ellipse-outline-shape-variant.png");
    -fx-background-size: stretch;
}
#heritageBtn
{
        -fx-background-image: url("assets/circle-outline.png");
    -fx-background-size: stretch;
}
#agregationBtn
{
        -fx-background-image: url("assets/rectangular-shape-outline.png");
    -fx-background-size: stretch;
}

#deleteBtn
{
        -fx-background-image: url("assets/borrar.png");
    -fx-background-size: stretch;
}
#applyChanges
{
        -fx-background-image: url("assets/edit.png");
    -fx-background-size: stretch;
}
#roleBtn
{
        -fx-background-image: url("assets/role.png");
    -fx-background-size: stretch;
}
#dependencyBtn
{
        -fx-background-image: url("assets/dependency.png");
    -fx-background-size: stretch;
}
#cardinalityBtn
{
        -fx-background-image: url("assets/cardinality.png");
    -fx-background-size: stretch;
}
#addBtn
{
        -fx-background-image: url("assets/add.png");
    -fx-background-size: stretch;
}
#cancelBtn
{
        -fx-background-image: url("assets/error.png");
    -fx-background-size: stretch;
}